<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.LuceneProvider.LuceneSearchConfiguration, Sitecore.ContentSearch.LuceneProvider">
        <defaultIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fields hint="raw:AddComputedIndexField">
            <!-- Field to facet on in CMS search -->
            <field fieldName="workflowstate" storageType="yes" indexType="untokenized">Heisenberg.SCExtensions.ContentSearch.ComputedFields.WorkflowState, Heisenberg.SCExtensions</field>
          </fields>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- Apply analyzer for "workflowstate" field to ensure value is NOT tokenized -->
              <field fieldName="workflowstate" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
        </defaultIndexConfiguration>
      </configuration>
    </contentSearch>
    <pipelines>
      <!-- Pipeline to apply changes to workflow comments -->
      <getWorkflowComment>
        <processor type="Heisenberg.SCExtensions.Pipelines.GetWorkflowComment.AddIssueTrackingLinks, Heisenberg.SCExtensions" />
      </getWorkflowComment>
      
      <!-- Pipeline to add Workflow commands to Views -->
      <buckets.dynamicFields>
        <!-- Add the item workflow name to dynamic placeholders. KEY: Workflow -->
        <processor patch:after="processor[@type='Sitecore.Buckets.Pipelines.UI.DynamicFields.ItemTags, Sitecore.Buckets']"
                   type="Heisenberg.SCExtensions.Pipelines.BucketDynamicFields.GetWorkflowName,Heisenberg.SCExtensions" />
        <!-- Add the item workflow state name to dynamic placeholders. KEY: WorkflowState -->
        <processor patch:after="processor[@type='Sitecore.Buckets.Pipelines.UI.DynamicFields.ItemTags, Sitecore.Buckets']"
                   type="Heisenberg.SCExtensions.Pipelines.BucketDynamicFields.GetWorkflowStateName,Heisenberg.SCExtensions" />
        <!-- Add the item workflow history to dynamic placeholders. KEY: WorkflowHistoryActions -->
        <processor patch:after="processor[@type='Sitecore.Buckets.Pipelines.UI.DynamicFields.ItemTags, Sitecore.Buckets']"
                   type="Heisenberg.SCExtensions.Pipelines.BucketDynamicFields.GetWorkflowQuickActionHistory,Heisenberg.SCExtensions" />
        <!-- Add the item language name to the dynamic placeholders. KEY: Language -->
        <processor patch:after="processor[@type='Sitecore.Buckets.Pipelines.UI.DynamicFields.ItemTags, Sitecore.Buckets']" 
                   type="Heisenberg.SCExtensions.Pipelines.BucketDynamicFields.GetItemLanguage,Heisenberg.SCExtensions" />
      </buckets.dynamicFields>
      <getContentEditorWarnings>
        <processor type="Heisenberg.SCExtensions.Pipelines.GetContentEditorWarnings.DataSourceWorkflowValidatorWarning, Heisenberg.SCExtensions"/>
      </getContentEditorWarnings>  
    </pipelines>
    <databases>
      <database id="master">
        <workflowProvider hint="defer" type="Sitecore.Workflows.Simple.WorkflowProvider, Sitecore.Kernel">
          <!-- Switch to custom HistoryStore implementation -->
          <param desc="history store" ref="workflowHistoryStores/main" param1="$(id)">
            <patch:attribute name="ref">workflowHistoryStores/custom</patch:attribute>
          </param>
        </workflowProvider>
      </database>
    </databases>
    <workflowHistoryStores>
      <!-- Custom HistoryStore implementation which uses "getWorkflowComments" pipeline -->
      <custom type="Heisenberg.SCExtensions.Data.$(database).$(database)HistoryStore, Heisenberg.SCExtensions">
        <param connectionStringName="$(1)"/>
      </custom>
    </workflowHistoryStores>
    <settings>
      <!-- ISSUE TRACKER ISSUE ID PATTERN
           Regular expression to find issue ID's within a workflow comment. Match is case-insensitive.
        -->
      <setting name="WorkflowIssueTracker.IssueIdPattern" value="PXI\-\d+"/>
      <!-- ISSUE TRACKER URL FORMAT
           If an issue ID is found within a workflow comment, a link to thw issue URL will be created
           using the following string format.
        -->
      <setting name="WorkflowIssueTracker.UrlFormat" value="https://nttdata.atlassian.net/browse/{0}"/>
    </settings>
    <commands>
      <!-- Command to open the Workflow Performance dialog. Had to use a command as the Application Shortcuts don't support SPEAK yet -->
      <command name="heisenberg:OpenWorkflowPerformance" type="Heisenberg.SCExtensions.Commands.OpenWorkflowPerformanceTool,Heisenberg.SCExtensions" />
    </commands>
  </sitecore>
</configuration>